@import url('https://fonts.googleapis.com/css?family=Lato:100|Poppins:200|ZCOOL+KuaiLe');


:root {
    --general-font: 'Poppins', sans-serif;
    --nav-bg: #2a2939;
    --button-bg: #726284;
}

body {
    font-family: var(--general-font);
    padding: 0;
    margin: 0;
    /* background-color: grey; */
    /* background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile_heading {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

main form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 60px auto;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
}

div.group div span {
    margin-right: 5px;
}

div.group div input {
    border: none;
    font-size: 18px;
    padding: 4px 5px;
    display: inline-block;
    background-color: #cecfdc;
    color: rgba(0, 0, 0, 0.7);
    width: 300px;
}

div.group div input:focus {
    outline: none;
}

div.group div:first-child {
    /* border: 1px solid red; */
    padding: 5px 10px;
    background-color: #cecfdc;
}

main form span.errors {
    color: red;
    font-size: 13px;
}

.profile_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 40px;
}

main form .submit {
    margin: auto;
}

main form button {
    padding: 10px 40px;
    background: none;
    color: #fff;
    border: 1px solid #726284;
    cursor: pointer;
}

main form button:hover {
    background-color: #726284;
}